.ob-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;

}
.ob-front-size{
  font-size:2em;
  min-font-size: 1.5em;
  max-font-size: 4em;
}
.ob-flex{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ob-size-100-70{
  width: 100%;
  height: 70%;
}
.ob-card-container{
  min-width: 15vw;
  min-height: 45vh;
  perspective: 70vh;
  max-width: 100vw;
}
.ob-card{
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
  transition:1s;
  transform-style:preserve-3d;
}
.ob-card-container:hover > .ob-card{
  transform: rotateY(180deg);
}
.ob-front-side, .ob-back-side{
  position: absolute;
  overflow: clip;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  backface-visibility: hidden;
}
.ob-front-side{
  color: black;
}
.ob-back-side{
  color: white;
  transform: rotateY(180deg);
}
.ob-fs-cont{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-width: 15vw;
  min-height: 35vh;
}
.ob-icon-size{
  font-size: 2em;
  color:black;
}
.ob-button-size{
  min-height: 5vh;
}
.ob-client{
  color: black;
}
.ob-client-ok{
  background-color: hsla(116, 46%, 50%, 1);
}
.ob-client-bad{
  background-color: hsla(352, 100%, 68%, 1);
}
.ob-client-changed{
  background-color: hsla(55, 81%, 79%, 1);
}
.ob-client-new{
  background-color: hsla(210, 67%, 43%, 1);
}
.ob-client-unknown{
  background-color: hsla(0, 0%, 76%, 1);
}
.ob-icon-red{
  background-color: hsla(358, 62%, 55%, 1);
  color: white;
}
.ob-icon-red-rev{
  color: hsla(358, 62%, 55%, 1);
  border: solid;
}
.ob-icon-green{
  background-color: hsla(118, 21%, 48%, 1);
  color: white;
}
.ob-icon-green-rev{
  color: hsla(118, 21%, 48%, 1);
  border: solid;
}
h4{
  color: hsla(0, 0%, 68%, 0.78);
}
