/* Coolors Exported Palette - https://coolors.co/c9f2c7-aceca1-96be8c-629460-243119 */

///* CSS HEX */
//--tea-green: #c9f2c7ff;
//--granny-smith-apple: #aceca1ff;
//--dark-sea-green: #96be8cff;
//--russian-green: #629460ff;
//--kombu-green: #243119ff;
//
///* CSS HSL */
//--tea-green: hsla(117, 62%, 86%, 1);
//--granny-smith-apple: hsla(111, 66%, 78%, 1);
//--dark-sea-green: hsla(108, 28%, 65%, 1);
//--russian-green: hsla(118, 21%, 48%, 1);
//--kombu-green: hsla(93, 32%, 15%, 1);

/* SCSS HEX */
$tea-green: #c9f2c7ff;
$granny-smith-apple: #aceca1ff;
$dark-sea-green: #96be8cff;
$russian-green: #629460ff;
$kombu-green: #243119ff;

/* SCSS HSL */
$tea-green: hsla(117, 62%, 86%, 1);
$granny-smith-apple: hsla(111, 66%, 78%, 1);
$dark-sea-green: hsla(108, 28%, 65%, 1);
$russian-green: hsla(118, 21%, 48%, 1);
$kombu-green: hsla(93, 32%, 15%, 1);

/* SCSS RGB */
$tea-green: rgba(201, 242, 199, 1);
$granny-smith-apple: rgba(172, 236, 161, 1);
$dark-sea-green: rgba(150, 190, 140, 1);
$russian-green: rgba(98, 148, 96, 1);
$kombu-green: rgba(36, 49, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-right: linear-gradient(90deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-bottom: linear-gradient(180deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-left: linear-gradient(270deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-top-right: linear-gradient(45deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-bottom-right: linear-gradient(135deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-top-left: linear-gradient(225deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-bottom-left: linear-gradient(315deg, #c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
$gradient-radial: radial-gradient(#c9f2c7ff, #aceca1ff, #96be8cff, #629460ff, #243119ff);
