/* Coolors Exported Palette - https://coolors.co/f3d3bf-e6a093-d44549-721846-d669d8 */

///* CSS HEX */
//--unbleached-silk: #f3d3bfff;
//--pastel-pink: #e6a093ff;
//--english-vermillion: #d44549ff;
//--pansy-purple: #721846ff;
//--orchid: #d669d8ff;
//
///* CSS HSL */
//--unbleached-silk: hsla(23, 68%, 85%, 1);
//--pastel-pink: hsla(9, 62%, 74%, 1);
//--english-vermillion: hsla(358, 62%, 55%, 1);
//--pansy-purple: hsla(329, 65%, 27%, 1);
//--orchid: hsla(299, 59%, 63%, 1);

/* SCSS HEX */
$unbleached-silk: #f3d3bfff;
$pastel-pink: #e6a093ff;
$english-vermillion: #d44549ff;
$pansy-purple: #721846ff;
$orchid: #d669d8ff;

/* SCSS HSL */
$unbleached-silk: hsla(23, 68%, 85%, 1);
$pastel-pink: hsla(9, 62%, 74%, 1);
$english-vermillion: hsla(358, 62%, 55%, 1);
$pansy-purple: hsla(329, 65%, 27%, 1);
$orchid: hsla(299, 59%, 63%, 1);

/* SCSS RGB */
$unbleached-silk: rgba(243, 211, 191, 1);
$pastel-pink: rgba(230, 160, 147, 1);
$english-vermillion: rgba(212, 69, 73, 1);
$pansy-purple: rgba(114, 24, 70, 1);
$orchid: rgba(214, 105, 216, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-right: linear-gradient(90deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-bottom: linear-gradient(180deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-left: linear-gradient(270deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-top-right: linear-gradient(45deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-bottom-right: linear-gradient(135deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-top-left: linear-gradient(225deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-bottom-left: linear-gradient(315deg, #f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
$gradient-radial: radial-gradient(#f3d3bfff, #e6a093ff, #d44549ff, #721846ff, #d669d8ff);
